@font-face {
    font-family: SpongeboyMeBob;
    src: url(../font/Spongeboy-Me-Bob.ttf);
}

body {
  background-image: url(../img/ws_Jelly_fish_fields_1600x1200.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
}

.navCaracola {
  background-color: #CCA2D7;
}

.navCaracola img {
  height: 4em;
}

#encabezado {
  background-color: #34ABBF;
  color: #FFF;
  width: 80%;
  text-align: center;
  margin: 2% 10%;
  border-radius: 1em;
}

#btnAsk {
  font-family: 'SpongeboyMeBob', monospace;
  color: #000;
}

.spongebob {
  font-size: 2em;
  color: #FFF;
  font-family: 'SpongeboyMeBob', monospace;
}

.preguntarespondida {
  background-color: #ffeb3b;
  color: #000;
  font-size: 1.5em;
  border-radius: 1em;
  padding: 0.4em;
}

#pregunta {
  border-bottom: #fff solid 2px;
}

#infoCar {
  margin-top: 1em;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}

.circular {
  background-color: #CCA2D7;
  color: #FFF;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  padding: 0.3em;
  margin: auto;
}

#respuesta {
  font-size: 1.2em;
  font-style: italic;
}

.info {
  color: #000;
  border-radius: 1em;
  padding: 10px;
  font-size: 15px;
}

#titulo {
  font-family: 'SpongeboyMeBob', monospace;
  text-align: center;
}

.fa-google {
  border: 1px solid white;
  padding: 1px;
  color: #34ABBF;
  background-color: white;
  border-radius: 100%;
  font-size: 15px;
}

#buttonGoogle {
  background-color: #34ABBF;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: .5em;
}

.caracolaimg {
  width: 18em;
  height: auto;
}

/*#principal {
  display: none;
}*/

#conResp {
  height: 20em;
  /*background-color: red;*/
}
/*
#savedAnswers {
  background-color: blue;
}
*/
.conch {
  width: 20em;
  border-radius: 4.4em;
}

#hasSpoken {
  padding: 2em;
}

.spoke {
  margin-bottom: 0;
}

#principal {
  display: none;
}